
input::placeholder{
	color: var(--color-text);
}

.input__lable{
  font-size: 12px;
  color: black;
}

.input__title{
	font-size: 14px;
	color: var(--color-text);
}

.input__error {
  color: rgba(241, 18, 18, 0.8);
  font-size: 12px;
  text-align: center;
}
