.profile {

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__body {
		background: #1E1E1E;
		padding: 45px;
		width: 601px;
		margin-top: 32px;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__image {
		align-self: center;
		img{
			width: 100px;
			height: 100px;
		}
	}

	&__close {
		position: absolute;
		top: 60px;
		right: 45px;
		cursor: pointer;
		transition: .3s ease;
		img{
			width: 28px;
			height: 28px;
		}
		&:hover{
			opacity: 0.8;
		}
	}

	&__back{
		position: absolute;
		top: 60px;
		left: 45px;
		cursor: pointer;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
		img{
			width: 28px;
			height: 28px;
		}
	}


	&__name {
		margin-top: 21px;
		margin-bottom: 61px;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #FFFFFF;
	}

	&__items{
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;
	}

	&__link {
		display: block;
		font-size: 13px;
		line-height: 13px;
		color: #8774E1;
		padding: 10px 0px;
		border-bottom: 1px solid #8774E1;
		cursor: pointer;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
	}

	&__link-exit {
		cursor: pointer;
		display: block;
		font-size: 13px;
		line-height: 13px;
		color: #FF0000;
		margin-top: 10px;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
	}
}