@import './null';
@import '../partials/input/input.scss';
@import '../partials/button/button.scss';
@import '../partials/chat-item/chat-item.scss';
@import '../partials/profile-info-value/profile-info-value.scss';
@import '../partials/change-info-input/change-info-input.scss';
@import './login.scss';
@import './pageError.scss';
@import './chat.scss';
@import './profile.scss';

body{
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #999999;
}
.main {
	min-width: 340px;
	min-height: 460px;
	background: #1e1e1e;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	padding: 50px 30px 30px;
}