



{{!< login}}

<div class="chat__container">
	<div class="chat__aside">
		<a href="./profile.hbs" class="chat__link">Профиль ></a>
		<input type="text" placeholder="Поиск" class="chat__search">
		<div class="chat__items">
			{{#each chats}}
				{{> 'chat-item/chat-item'}}
			{{/each}}
		</div>
	</div>
		<div class="chat__block">
			<div class="chat__block-header">
				<img src="../assets/ellipse.png" alt="logo" class="chat__block-header-img">
				<div class="chat__block-header-name">Андрей</div>
				<div class="chat__block-header-option">
					<img src="../assets/option.svg" alt="option" class="">
					<div class="option__block">
					<div class="option__block-item option__block-item-add">
						<img src="../assets/add.svg" alt="add" class="option__block-item-img">
						<div class="option__block-item-text">Добавить пользователя</div>
					</div>
					<div class="option__block-item option__block-item-delete">
						<img src="../assets/del.svg" alt="add" class="option__block-item-img">
						<div class="option__block-item-text">Удалить пользователя</div>
					</div>
				</div>
				</div>
				
			</div>
			<div class="chat__block-container">
				<div class="chat__block-message">
					Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

					Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
					<span>11:58</span>
				</div>
				<div class="chat__block-message-user">
					Hello! 
					<span>12:00</span>
				</div>
				<div class="chat__block-footer">
					<input placeholder="Сообщение" type="text" name="message" class="chat__block-input">
					<div class="chat__block-file">|</div>
					<img src="../assets/arrow.svg" alt="send" class="chat__block-send">
				</div>
				
			</div>
		</div>
</div>