.chat{
	&__item {
	display: flex;
	position: relative;
	border-radius: 10px;
	padding: 12px 5px;
	transition: .3s ease;
	cursor: pointer;
	&:hover{
		background: #626362;
	}
	&.active {
		background: #8774E1;
	}
}

&__item-img {
	max-width: 100%;
	margin-right: 10px;
}



&__item-name {
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	color: #FFFFFF;
	margin-bottom: 5px;
}

&__item-message {
	font-size: 12px;
	line-height: 15px;
	color: #999999;
}

&__item-date {
	position: absolute;
	top: 12px;
	right: 10px;
	font-size: 9px;
	line-height: 13px;
	color: #999999;
}

&__item-notification {
	position: absolute;
	top: 43px;
	right: 10px;
	background: #8774E1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
}