@import './styles/nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body{
	font-family: "Roboto";
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #999999;
}
.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	min-height: 460px;
	background: #1e1e1e;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	padding: 50px 30px 30px;
}

.input__input {
	display: block;
  font-size: 14px;
  width: 100%;
  padding: 5px 0;
  background: #1E1E1E;
  color: #FFFFFF;
  border-bottom: 1px solid #8774E1;
  margin-bottom: 25px;
}

label{
	color: #FFFFFF;
	font-size: 16px;
  }

//================================= Login

.login {

	&__title {
		text-align: center;
		font-size: 20px;
		line-height: 20px;
		color: #FFFFFF;
		margin-bottom: 45px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__link {
		margin-top: 15px;
		display: block;
		font-size: 11px;
		line-height: 11px;
		color: #8774E1;
		text-align: center;
		transition: .3s ease;
		&:hover{
			text-decoration: underline;
		}
	}
}

//================================================= chat
.chat {

	&__container {
		width: 100%;
		height: 100%;
		display: flex;
	}

	&__container-login {
		width: 100%;
		height: 100%;
		background: #999999;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__aside {
		display: flex;
		flex-direction: column;
		background: #1E1E1E;
		min-width: 400px;
		
		padding: 0 10px;
	}

	&__link {
		display: inline-block;
		align-self: end;
		margin-top: 21px;
		font-size: 12px;
		line-height: 12px;
		color: #999999;
		transition: .3s ease;
		&:hover{
			color: #8774E1;
		}
	}

	&__search {
		width: 100%;
		height: 32px;
		padding-left: 45%;
		font-size: 12px;
		line-height: 12px;
		color: #FFFFFF;
		margin-top: 23px;
		margin-bottom: 14px;
		background: #999999;
		border-radius: 5px;
	}
}


.option {

	&__block {
		position: absolute;
		width: 210px;
		height: 90px;
		top: 60px;
		right: 30px;
		background: #1E1E1E;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
		border-radius: 12px;
		padding: 10px;
		opacity: 0;
		transition: 0.5s ease;
		pointer-events: none;
		transform: translateY(-10px);
		&.open{
			opacity: 1;
			flex-direction: column;
			pointer-events: auto;
			transform: translateY(10px);
		}
	}
	&__image {
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 30px;
		padding: 5px;
	}
	&__block-item {
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 5px;
		&:last-child{
			margin-top: 5px;
		}
		transition: .3s ease;
		&:hover{
			opacity: 0.5;
		}
	}

	&__block-item-img {
		margin-right: 15px;
		img{
			width: 22px;
			height: 22px;
		}
	}

	&__block-item-text {
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
	}
}


.chat {

	&__block {
		width: 100%;
	}

	&__block-header {
		position: relative;
		background: #1E1E1E;
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__block-header-img {
		img{
			width: 34px;
			height: 34px;
		}
		margin-left: 23px;
	}

	&__block-header-name {
		margin-left: 16px;
		font-weight: 600;
		font-size: 13px;
		line-height: 13px;
		color: #FFFFFF;
	}

	&__block-header-option {
		
	}

	&__block-container {
		width: 600px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__block-message {
		margin-top: 550px;
		padding: 11px;
		background: #1E1E1E;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
		max-width: 402px;
		border-radius: 10px 10px 10px 0;
		position: relative;
		span{
			position: absolute;
			bottom: 10px;
			right: 10px;
			display: block;
			background: rgba(82, 82, 82, 0.5);
			border-radius: 30px;
			font-size: 9px;
			line-height: 9px;
			color: #FFFFFF;
			padding: 2px 7px;
		}
	}

	&__block-message-user {
		margin-top: 64px;
		margin-bottom: 38px;
		padding: 11px;
		background: #B3A7EE;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
		min-width: 114px;
		border-radius: 10px 10px 0px 10px;
		position: relative;
		align-self: flex-end;

		span{
			position: absolute;
			bottom: 10px;
			right: 10px;
			display: block;
			font-size: 9px;
			line-height: 9px;
			color: #999999;
			padding: 2px 7px;
		}
	}
	&__block-footer{
		position: relative;
		display: flex;
	}
	&__block-input {
		background: #1E1E1E;
		border-radius: 30px;
		width: 550px;
		height: 32px;
		padding: 10px 20px;
		color: #FFFFFF;

	}

	&__block-file {
		cursor: pointer;
		position: absolute;
		top: 3px;
		right: 80px;
		color: #FFFFFF;
		font-size: 24px;
	}

	&__block-send {
		cursor: pointer;
		position: relative;
		left: 20px;
		transition: .3s ease;
		border-radius: 50%;
		&:hover{
			opacity: 0.5;
		}
		img{
			width: 28px;
			height: 28px;
		}
	}
}

//=================================== profile
.profile {

	&__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #1E1E1E;
		padding: 45px;
		width: 601px;

		border-radius: 12px;
		display: flex;
		flex-direction: column;
	}

	&__image {
		position: relative;
		align-self: center;
		img{
			width: 100px;
			height: 100px;
		}
		transition: .3s ease;
		&:hover{
			opacity: 0.6;
		}
	}
	&__input-change{
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		opacity: 0;
		cursor: pointer;
		transition: .3s ease;
		&:hover{
			background: #999999;
		}
	}
	&__close {
		position: absolute;
		top: 60px;
		right: 45px;
		cursor: pointer;
		transition: .3s ease;
		img{
			width: 28px;
			height: 28px;
		}
		&:hover{
			opacity: 0.8;
		}
	}

	&__back{
		position: absolute;
		top: 60px;
		left: 45px;
		cursor: pointer;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
		img{
			width: 28px;
			height: 28px;
		}
	}


	&__name {
		margin-top: 21px;
		margin-bottom: 61px;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #FFFFFF;
	}

	&__items{
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;
	}

	&__link {
		display: block;
		font-size: 13px;
		line-height: 13px;
		color: #8774E1;
		padding: 10px 0px;
		border-bottom: 1px solid #8774E1;
		cursor: pointer;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
	}

	&__link-exit {
		cursor: pointer;
		display: block;
		font-size: 13px;
		line-height: 13px;
		color: #FF0000;
		margin-top: 10px;
		transition: .3s ease;
		&:hover{
			opacity: 0.8;
		}
	}
}