.change {

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0;
		border-bottom: 1px solid #8774E1;
		font-size: 13px;
		line-height: 13px;
	}

	&__info-key {
		color: #FFFFFF;
	}

	&__info-input{
		display: block;
		font-size: 14px;
		width: 30%;
		padding: 5px 0;
		background: #1E1E1E;
		color: #999999;
	}
}

